@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
}

.img_block {
	max-width :1920px;
	height:985px;
	background: white;
	position: relative;
    margin: 0 auto;
    overflow: hidden;  
}

.fixed {
	position: fixed;
	bottom:20px;
	color: black;
	text-align: center;
	display:block;
	margin:0 auto;
	width:100%;
}



.Backlinks {
position: absolute;

left: 443px;
top: 270px; 
	z-index: 3;
	transition: 0.2s;
	
}
.Backlinks2 {
display: none;
}
.Backlinks:hover {
	transform: scale(0.9);
}

.Arrow {
position: absolute;
width: 1858px;
height: 936px;
left: 86px;
top: 25px;
z-index: 2;
}
.Arrow2 {
display: none;
}
.Arrow4 {
display: none;
}

.Arrow3 { 
position: absolute;

left: 150px;
bottom: 250px;
z-index: 3;
}

.button1  {
position: absolute;

right: 245px;
bottom: 60px; 
z-index: 2;
transition: 0.2s;
}

#bat1 {
	font-size:65px;
	color: white;
	background: linear-gradient(0deg, #63020b, #fb0003);
	z-index: 4;
	font-family: 'Balsamiq Sans', cursive;
	transform: rotate(-9deg); 
	padding: 20px 30px;
	border-radius: 50px;
}
#bat2 {
	font-size:35px;
	color: white;
	background: linear-gradient(0deg, #63020b, #fb0003);
	z-index: 4;
	font-family: 'Balsamiq Sans', cursive;
	transform: rotate(-6deg); 
	padding: 20px 30px;
	border-radius: 35px;
}
#bat3 {
	font-size:35px;
	color: white;
	background: linear-gradient(0deg, #63020b, #fb0003);
	z-index: 4;
	font-family: 'Balsamiq Sans', cursive;
	transform: rotate(-9deg); 
	padding: 20px 30px;
	border-radius: 35px;
}
.button1:hover {  
	transform: scale(1.1);
}
.button2  {
position: absolute; 

right: 320px; 
top: 30px; 
z-index: 2;
transition: 0.2s;
}
.button2:hover {  
	
transform: scale(1.1);

}
.button3  {
position: absolute;

left: 87px;
top: 165px; 
z-index: 2;
transition: 0.2s;
}
.button3:hover {  
	transform: scale(1.1);  
}

.shadow {
	position: absolute;
width: 1858px;
height: 448px;
left: 87px;
top: 512px; 
z-index: 1;
}


  




@media (max-width: 1890px) { 

 .button1{
 	right: 225px; 
 }
 .button2{
 	right: 290px; 
 }



 } 

 @media (max-width: 1860px) { 

 .button1{
 	right: 180px; 
 }
 .button2{
 	right: 250px;  
 }



 } 
 @media (max-width: 1840px) { 

 .button1{
 	right: 160px; 
 }
 .button2{
 	right: 230px;  
 }



 } 

 @media (max-width: 1820px) { 

 .button1{
 	right: 140px; 
 }
 .button2{
 	right: 210px;  
 }



 } 

 @media (max-width: 1800px) { 

 .button1{
 	right: 120px; 
 }
 .button2{
 	right: 190px;  
 }



 } 


 @media (max-width: 1780px) { 

.img_block {
 		
 		margin-left: -70px; 
 	}
 .button1{
 	right: 180px; 
 	bottom: 95px;
 }
 .button2{
 	top: 30px;
 	right: 250px;   
 }
 .button3{
 	top: 180px;
 	left: 80px;   
 }

/*.Arrow {
position: absolute;
transform: scale(0.95);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 
left: 150px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.90);
}
*/
 } 
@media (max-width: 1765px) { 
.img_block {
 		
 		margin-left: -100px; 
 	}

 #bat1 {
 	font-size:55px;
 }
 #bat2 {
 	font-size:25px;
 }
 #bat3 {
 	font-size:25px;
 }
 .button1{
 	right: 180px; 
 	bottom: 95px;

 }
 .button2{
 	top: 30px;
 	right: 290px;   
 }

 .button3{
 	top: 185px;
 	left: 120px;   
 }

}

 @media (max-width: 1750px) { 
.img_block {
 		
 		margin-left: -100px; 
 	}
 .button1{
 	right: 200px; 
 	bottom: 95px;

 }
 .button2{
 	top: 50px;
 	right: 280px;   
 }

 .button3{
 	top: 185px;
 	left: 120px;   
 }

/*.Arrow {
position: absolute;
transform: scale(0.92);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 190px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.92);
}

.shadow {
	transform: scale(0.80);
}
*/  
 } 

 @media (max-width: 1735px) { 
 	.img_block {
 		margin-top: -10px;
 		margin-left: -100px;
 	}

 .button1{
 	
 	display: block;
 	right: 230px;  
 	bottom: 95px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 50px;
 	right: 290px; 
 	
 }

 .button3{
 	top: 185px;
 	left: 130px; 
 	
 }

/*.Arrow {
position: absolute;
transform: scale(0.88);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.86);
left: 230px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.88);
	transition: 0.2s;
}
.Backlinks:hover {
	transform: scale(0.80);
}
.shadow {
	transform: scale(0.70); 
}
*/ 



 } 
@media (max-width: 1725px) { 
 	.img_block {
 		margin-top: -10px;
 		margin-left: -100px;
 	}

 .button1{
 	
 	display: block;
 	right: 210px;  
 	bottom: 95px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 50px;
 	right: 260px; 
 	
 }

 .button3{
 	top: 185px;
 	left: 130px; 
 	
 }

}
@media (max-width: 1700px) { 
 	.img_block {
 		margin-top: -10px;
 		margin-left: -100px;
 	}

 .button1{
 	
 	display: block;
 	right: 190px;  
 	bottom: 95px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 50px;
 	right: 240px; 
 	
 }

 .button3{
 	top: 185px;
 	left: 130px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.95);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 
left: 150px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.90);
}

}
@media (max-width: 1670px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -120px;
 	}

 .button1{
 	
 	display: block;
 	right: 180px;  
 	bottom: 95px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 50px;
 	right: 230px; 
 	
 }

 .button3{
 	top: 185px;
 	left: 130px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.95);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 
left: 150px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.90);
}

}
@media (max-width: 1640px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -120px;
 	}

 .button1{
 	
 	display: block;
 	right: 170px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 230px; 
 	
 }

 .button3{
 	top: 195px;
 	left: 180px; 
 	
 }
 .Backlinks {
	transform: scale(0.90);
}
 .Arrow {
position: absolute;
transform: scale(0.90);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 200px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.75);
}

}
@media (max-width: 1620px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -120px;
 	}

 .button1{
 	
 	display: block;
 	right: 150px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 210px; 
 	
 }

 .button3{
 	top: 195px;
 	left: 180px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.90);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 200px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.75);
}

}
@media (max-width: 1600px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -140px; 
 	}

 .button1{
 	
 	display: block;
 	right: 150px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 210px; 
 	
 }

 .button3{
 	top: 195px;
 	left: 180px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.90);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 200px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.75);
}

}
@media (max-width: 1575px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -160px; 
 	}

 .button1{
 	
 	display: block;
 	right: 150px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 210px; 
 	
 }

 .button3{
 	top: 195px;
 	left: 180px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.90);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 200px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.75);
}

}
@media (max-width: 1555px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -170px; 
 	}

 .button1{
 	
 	display: block;
 	right: 140px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 200px;  
 	
 }

 .button3{
 	top: 195px;
 	left: 180px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.90);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.90);
left: 200px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.75);
}

}

@media (max-width: 1535px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -190px; 
 	}

 .button1{
 	
 	display: block;
 	right: 140px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 200px;  
 	
 }

 .button3{
 	top: 215px;
 	left: 220px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.85);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.85);
left: 250px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.82);
}
.shadow {
	transform: scale(0.65);
}

}
@media (max-width: 1500px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -210px; 
 	}

 .button1{
 	
 	display: block;
 	right: 140px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 200px;  
 	
 }

 .button3{
 	top: 215px;
 	left: 220px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.85);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.85);
left: 250px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.65);
}

}
@media (max-width: 1480px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -210px; 
 	}

 .button1{
 	
 	display: block;
 	right: 120px;  
 	bottom: 115px;
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 80px;
 	right: 180px;  
 	
 }

 .button3{
 	top: 215px;
 	left: 220px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.85);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.85);
left: 250px;
bottom: 250px;
z-index: 3;
}
.shadow {
	transform: scale(0.65);
}

}
@media (max-width: 1460px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -240px; 
 	}

 .button1{
 	
 	display: block;
 	right: 120px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 220px;  
 	
 }

 .button3{
 	top: 235px;
 	left: 260px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.80);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.80);
left: 250px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.82);
}
.shadow {
	transform: scale(0.55);
}

}

@media (max-width: 1440px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -240px; 
 	}

 .button1{
 	
 	display: block;
 	right: 120px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 200px;  
 	
 }

 .button3{
 	top: 235px;
 	left: 260px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.80);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.80);
left: 250px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.82);
}
.shadow {
	transform: scale(0.55);
}

}
@media (max-width: 1420px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -240px; 
 	}

 .button1{
 	
 	display: block;
 	right: 100px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 180px;  
 	
 }

 .button3{
 	top: 235px;
 	left: 260px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.80);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.80);
left: 250px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.82);
}
.shadow {
	transform: scale(0.55);
}

}


@media (max-width: 1400px) { 
 	.img_block {
 		margin-top: -30px;
 		margin-left: -240px; 
 	}

 .button1{
 	
 	display: block;
 	right: 100px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 180px;  
 	
 }

 .button3{
 	top: 255px;
 	left: 290px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.75);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.75);
left: 290px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.77);
}
.shadow {
	transform: scale(0.50);
}

}
@media (max-width: 1380px) { 
 	.img_block {
 		margin-top: -40px;
 		margin-left: -250px; 
 	}

 .button1{
 	
 	display: block;
 	right: 90px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 190px;  
 	
 }

 .button3{
 	top: 255px;
 	left: 290px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.75);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.75);
left: 290px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.77);
}
.shadow {
	transform: scale(0.50);
}

}

@media (max-width: 1360px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -270px; 
 	}

 .button1{
 	
 	display: block;
 	right: 90px;  
 	bottom: 165px; 
 	
 }
 #bat1 {
 	
 	font-size: 50px;
 }



 .button2{
 	top: 120px;
 	right: 190px;  
 	
 }

 .button3{
 	top: 255px;
 	left: 290px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.75);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.75);
left: 290px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.77);
}
.shadow {
	transform: scale(0.50);
}

}
@media (max-width: 1340px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -290px; 
 	}

 .button1{
 	
 	display: block;
 	right: 110px;  
 	bottom: 195px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 140px;
 	right: 190px;  
 	
 }

 .button3{
 	top: 255px;
 	left: 310px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.75);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.75);
left: 290px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	transform: scale(0.77);
}
.shadow {
	transform: scale(0.50);
}

}

@media (max-width: 1320px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -290px; 
 	}

 .button1{
 	
 	display: block;
 	right: 110px;  
 	bottom: 195px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 140px;
 	right: 190px;  
 	
 }

 .button3{
 	top: 265px;
 	left: 340px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.70);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.70);
left: 330px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.73);
}
.shadow {
	transform: scale(0.40);
}

}


@media (max-width: 1280px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -320px; 
 	}

 .button1{
 	
 	display: block;
 	right: 110px;  
 	bottom: 195px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 140px;
 	right: 190px;  
 	
 }

 .button3{
 	top: 265px;
 	left: 340px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.70);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.70);
left: 330px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.73);
}
.shadow {
	transform: scale(0.40);
}

}

@media (max-width: 1240px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -320px; 
 	}

 .button1{
 	
 	display: block;
 	right: 90px;  
 	bottom: 215px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 170px;
 	right: 170px;  
 	
 }

 .button3{
 	top: 285px;
 	left: 370px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.65);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.65);
left: 360px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.68);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 1220px) { 
 	.img_block {
 		margin-top: -90px;
 		margin-left: -340px; 
 	}

 .button1{
 	
 	display: block;
 	right: 90px;  
 	bottom: 215px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 170px;
 	right: 170px;  
 	
 }

 .button3{
 	top: 285px;
 	left: 390px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.65);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.65);
left: 360px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.68);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 1200px) { 
 	.img_block {
 		margin-top: -140px;
 		margin-left: -360px; 
 	}

 .button1{
 	
 	display: block;
 	right: 90px;  
 	bottom: 215px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 170px;
 	right: 170px;  
 	
 }

 .button3{
 	top: 285px;
 	left: 390px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.65);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.65);
left: 360px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.68);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 1175px) { 
 	.img_block {
 		margin-top: -140px;
 		margin-left: -360px; 
 	}

 .button1{
 	
 	display: block;
 	right: 70px;  
 	bottom: 215px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 170px;
 	right: 150px;  
 	
 }

 .button3{
 	top: 285px;
 	left: 390px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.65);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.65);
left: 360px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.68);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 1155px) { 
 	.img_block {
 		margin-top: -140px;
 		margin-left: -380px; 
 	}

 .button1{
 	
 	display: block;
 	right: 60px;  
 	bottom: 215px; 
 	
 }
 #bat1 {
 	
 	font-size: 40px;
 }
#bat2 {
 	
 	font-size: 20px;
 }#bat3 {
 	
 	font-size: 20px;
 }


 .button2{
 	top: 170px;
 	right: 140px;  
 	
 }

 .button3{
 	top: 285px;
 	left: 390px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.65);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.65);
left: 360px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.68);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 1125px) { 
 	.img_block {
 		margin-top: -180px;
 		margin-left: -420px; 
 	}

 .button1{
 	
 	display: block;
 	right: 100px;  
 	bottom: 245px; 
 	
 }
 #bat1 {
 	
 	font-size: 35px;
 }
#bat2 {
 	
 	font-size: 18px;
 }#bat3 {
 	
 	font-size: 18px;
 }


 .button2{
 	top: 200px;
 	right: 160px;  
 	
 }

 .button3{
 	top: 300px;
 	left: 430px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.60);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.60);
left: 400px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.63);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 1095px) { 
 	.img_block {
 		margin-top: -180px;
 		margin-left: -420px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 245px; 
 	
 }
 #bat1 {
 	
 	font-size: 35px;
 }
#bat2 {
 	
 	font-size: 18px;
 }#bat3 {
 	
 	font-size: 18px;
 }


 .button2{
 	top: 200px;
 	right: 140px;  
 	
 }

 .button3{
 	top: 300px;
 	left: 430px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.60);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.60);
left: 400px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.63);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 1070px) { 
 	.img_block {
 		margin-top: -180px;
 		margin-left: -420px; 
 	}

 .button1{
 	
 	display: block;
 	right: 60px;  
 	bottom: 245px; 
 	
 }
 #bat1 {
 	
 	font-size: 35px;
 }
#bat2 {
 	
 	font-size: 18px;
 }#bat3 {
 	
 	font-size: 18px;
 }


 .button2{
 	top: 200px;
 	right: 120px;  
 	
 }

 .button3{
 	top: 300px;
 	left: 430px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.60);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.60);
left: 400px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.63);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 1050px) { 
 	.img_block {
 		margin-top: -220px;
 		margin-left: -460px; 
 	}

 .button1{
 	
 	display: block;
 	right: 120px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 230px;
 	right: 170px;  
 	
 }

 .button3{
 	top: 320px;
 	left: 480px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.55);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.55);
left: 430px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.58);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 1020px) { 
 	.img_block {
 		margin-top: -220px;
 		margin-left: -460px; 
 	}

 .button1{
 	
 	display: block;
 	right: 100px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 230px;
 	right: 150px;  
 	
 }

 .button3{
 	top: 320px;
 	left: 480px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.55);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.55);
left: 430px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.58);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 1000px) { 
 	.img_block {
 		margin-top: -220px;
 		margin-left: -480px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 230px;
 	right: 130px;  
 	
 }

 .button3{
 	top: 320px;
 	left: 500px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.55);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.55);
left: 430px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.58);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 960px) { 
 	.img_block {
 		margin-top: -220px;
 		margin-left: -490px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 250px;
 	right: 130px;  
 	
 }

 .button3{
 	top: 330px;
 	left: 530px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.50);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.50);
left: 450px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.53);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 930px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -510px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 250px;
 	right: 130px;  
 	
 }

 .button3{
 	top: 330px;
 	left: 530px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.50);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.50);
left: 460px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.52);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 910px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -530px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 250px;
 	right: 130px;  
 	
 }

 .button3{
 	top: 330px;
 	left: 540px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.50);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.50);
left: 460px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.52);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 890px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -530px; 
 	}

 .button1{
 	
 	display: block;
 	right: 60px;  
 	bottom: 275px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 250px;
 	right: 110px;  
 	
 }

 .button3{
 	top: 330px;
 	left: 540px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.50);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.50);
left: 460px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.52);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 870px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -540px; 
 	}

 .button1{
 	
 	display: block;
 	right: 60px;  
 	bottom: 295px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 270px;
 	right: 110px;  
 	
 }

 .button3{
 	top: 340px;
 	left: 570px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.45);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.45);
left: 490px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.45);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 845px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -540px; 
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 295px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 270px;
 	right: 90px;  
 	
 }

 .button3{
 	top: 340px;
 	left: 570px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.45);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.45);
left: 490px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.45);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 825px) { 
 	.img_block {
 		margin-top: -240px;
 		margin-left: -560px; 
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 295px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 30px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 16px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 16px;
 }


 .button2{
 	top: 270px;
 	right: 90px;  
 	
 }

 .button3{
 	top: 340px;
 	left: 570px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.45);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.45);
left: 490px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.45);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 805px) { 
 	.img_block {
 		margin-top: -270px;
 		margin-left: -590px; 
 	}

 .button1{
 	
 	display: block;
 	right: 80px;  
 	bottom: 320px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 14px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 14px;
 }


 .button2{
 	top: 290px;
 	right: 120px;  
 	
 }

 .button3{
 	top: 360px;
 	left: 620px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.40);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.40);
left: 530px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.40);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 775px) { 
 	.img_block {
 		margin-top: -270px;
 		margin-left: -590px; 
 	}

 .button1{
 	
 	display: block;
 	right: 60px;  
 	bottom: 320px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 14px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 14px;
 }


 .button2{
 	top: 290px;
 	right: 100px;  
 	
 }

 .button3{
 	top: 360px;
 	left: 620px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.40);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.40);
left: 530px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.40);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 755px) { 
 	.img_block {
 		margin-top: -270px;
 		margin-left: -590px; 
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 320px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 14px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 14px;
 }


 .button2{
 	top: 290px;
 	right: 80px;  
 	
 }

 .button3{
 	top: 360px;
 	left: 620px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.40);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.40);
left: 530px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.40);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 735px) { 
 	.img_block {
 		margin-top: -270px;
 		margin-left: -610px;  
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 320px; 
 	
 }
 #bat1 {
 	padding: 15px 20px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 15px 20px;
 	font-size: 14px;
 }#bat3 {
 	padding: 15px 20px;
 	font-size: 14px;
 }


 .button2{
 	top: 290px;
 	right: 80px;  
 	
 }

 .button3{
 	top: 360px;
 	left: 620px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.40);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.40);
left: 530px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.40);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 715px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -610px;  
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 350px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 320px;
 	right: 80px;  
 	
 }

 .button3{
 	top: 380px;
 	left: 650px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.35);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.35);
left: 560px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.35);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 695px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -630px;  
 	}

 .button1{
 	
 	display: block;
 	right: 40px;  
 	bottom: 350px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 320px;
 	right: 80px;  
 	
 }

 .button3{
 	top: 380px;
 	left: 650px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.35);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.35);
left: 560px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.35);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 670px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -630px;  
 	}

 .button1{
 	
 	display: block;
 	right: 20px;  
 	bottom: 350px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 320px;
 	right: 60px;  
 	
 }

 .button3{
 	top: 380px;
 	left: 650px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.35);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.35);
left: 560px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.35);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 655px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -650px;  
 	}

 .button1{
 	
 	display: block;
 	right: 20px;  
 	bottom: 350px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 320px;
 	right: 60px;  
 	
 }

 .button3{
 	top: 380px;
 	left: 660px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.35);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.35);
left: 560px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	left: 460px;
	transform: scale(0.35);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 630px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -670px;  
 	}

 .button1{
 	
 	display: block;
 	right: 30px;  
 	bottom: 370px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 330px;
 	right: 80px;  
 	
 }

 .button3{
 	top: 390px;
 	left: 690px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.30);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.30);
left: 600px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.30);
}
.shadow {
	transform: scale(0.30);
}

}




@media (max-width: 605px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -670px;  
 	}

 .button1{
 	
 	display: block;
 	right: 10px;  
 	bottom: 370px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 330px;
 	right: 60px;  
 	
 }

 .button3{
 	top: 390px;
 	left: 690px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.30);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.30);
left: 600px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.30);
}
.shadow {
	transform: scale(0.30);
}

}



@media (max-width: 585px) { 
 	.img_block {
 		margin-top: -300px;
 		margin-left: -690px;  
 	}

 .button1{
 	
 	display: block;
 	right: 10px;  
 	bottom: 370px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 25px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 14px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 14px;
 }


 .button2{
 	top: 330px;
 	right: 60px;  
 	
 }

 .button3{
 	top: 390px;
 	left: 700px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.30);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.30);
left: 600px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.30);
}
.shadow {
	transform: scale(0.30);
}

}





@media (max-width: 565px) { 
 	.img_block {
 		margin-top: -320px;
 		margin-left: -690px;  
 	}

 .button1{
 	
 	display: block;
 	right: 10px;  
 	bottom: 370px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 12px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 12px;
 }


 .button2{
 	top: 330px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 390px;
 	left: 700px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.30);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.30);
left: 600px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.30);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 545px) { 
 	.img_block {
 		margin-top: -320px;
 		margin-left: -710px;  
 	}

 .button1{
 	
 	display: block;
 	right: 10px;  
 	bottom: 370px; 
 	
 }
 #bat1 {
 	padding: 10px 15px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 10px 15px;
 	font-size: 12px;
 }#bat3 {
 	padding: 10px 15px;
 	font-size: 12px;
 }


 .button2{
 	top: 330px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 390px;
 	left: 710px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.30);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.30);
left: 600px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.30);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 530px) { 
 	.img_block {
 		margin-top: -350px;
 		margin-left: -720px;  
 	}

 .button1{
 	
 	display: block;
 	right: 30px;   
 	bottom: 390px; 
 	
 }
 #bat1 {
 	padding: 5px 10px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 }


 .button2{
 	top: 365px;
 	right: 70px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.25);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.25);
left: 630px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.25);
}
.shadow {
	transform: scale(0.30);
}

}
@media (max-width: 510px) { 
 	.img_block {
 		margin-top: -350px;
 		margin-left: -740px;  
 	}

 .button1{
 	
 	display: block;
 	right: 30px;   
 	bottom: 390px; 
 	
 }
 #bat1 {
 	padding: 5px 10px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 }


 .button2{
 	top: 365px;
 	right: 70px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.25);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.25);
left: 630px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.25);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 490px) { 
 	.img_block {
 		margin-top: -350px;
 		margin-left: -740px;  
 	}

 .button1{
 	
 	display: block;
 	right: 10px;   
 	bottom: 390px; 
 	
 }
 #bat1 {
 	padding: 5px 10px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 }


 .button2{
 	top: 365px;
 	right: 50px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.25);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.25);
left: 630px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.25);
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 470px) { 
 	.img_block {
 		margin-top: -350px;
 		margin-left: -750px;  
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	
 }
 #bat1 {
 	padding: 5px 10px;
 	font-size: 20px;
 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow {
position: absolute;
transform: scale(0.25);
left: 86px;
top: 25px;
z-index: 2;
}

.Arrow3 { 
position: absolute;
 transform: scale(0.25);
left: 630px;
bottom: 250px;
z-index: 3;
}
.Backlinks {
	top: 258px ;
	left: 470px;
	transform: scale(0.25);
}
.shadow {
	transform: scale(0.30);
}

}

@media (max-width: 450px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 350px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-270px ;
  display: block; 

width:25%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 70px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

}


@media (max-width: 435px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 350px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-270px ;
  display: block; 

width:25%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 60px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 




@media (max-width: 410px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 350px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-250px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 50px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 



@media (max-width: 385px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 330px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-250px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 42px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 

@media (max-width: 365px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 330px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-230px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 37px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 

@media (max-width: 350px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 330px;
    left: 30%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-230px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 32px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 


@media (max-width: 340px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 330px;
    left: 27%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 35px ;
 	top :-230px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 27px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 

@media (max-width: 325px) { 
 	.img_block {
 		max-width: 450px; 
 		margin: 0 auto;
 		justify-content: center;
       position: relative;
 	}

 .button1{
 	
 	display: block;
 	right: 0px;   
 	bottom: 390px; 
 	transform: rotate(0);
 }
 #bat1 {
 	padding: 15px 25px;
 	font-size: 30px;
 	transform: rotate(0deg);
    position: relative;
    top: 300px;
    left: 27%;

 }
#bat2 {
 	padding: 5px 10px;
 	font-size: 12px;
 	display: none;
 }#bat3 {
 	padding: 5px 10px; 
 	font-size: 12px;
 	display: none;
 }


 .button2{
 	top: 365px;
 	right: 40px;  
 	
 }

 .button3{
 	top: 410px;
 	left: 750px; 
 	
 }
 .Arrow2 {
 	position: relative;
 	left : 0px ;
 	top : -100px ;
  display: block;

width: 100%;

}

.Arrow4 { 
position: relative;
 	left : 30px ;
 	top :-220px ;
  display: block; 

width:23%;
}
.Backlinks2 {
	display: block;
position: relative;
width: 50%;
top : 22px ;
left: 25%;
}
.shadow {
	transform: scale(0.30);
}

} 




















